#blog-list {

    .container {
        padding: 0;
    }

    .jumbotron {
        border-radius: 0;
        margin-bottom: 0;

        @media(min-width: 580px) {
            background-image: url('../images/jumbotron_bg.jpg');
            background-position-x: right;
            background-position-y: center;
            background-attachment: fixed;
            background-size: cover;
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 0.8rem;
        margin: 1rem auto;

        @media(max-width: 580px) {
            width: 95%;
        }
    }

    .card {
        transition: 300ms;
        box-shadow: 5px 5px 5px 0 #ccc;

        &:hover {
            transform: scale(1.01);
        }

        .card-img-top {
            height: 14rem;
            object-fit: cover;
        }
    }
}

#blog {
    background-image: url('../images/grad3.jpg');
    background-size: cover;

    .container {
        padding: 0;
    }

    .card {        
        margin: 6rem auto;

        @media(max-width: 580px) {
            border-radius: 0;
            margin: 0rem;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-content: center;
    
            .author-insta {
                height: 1rem;
                margin-top: -0.2rem;
            }
        }
        
        .card-image {
            max-height: 28rem;
            object-fit: cover;
        }

        .card-text {
            text-align: justify;
        }
    }
}