@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

.container {
    padding: 0;
}

nav {
    background-color: #111;

    img {
        height: 2.5rem;
        width: 2.5rem;
        object-fit: contain;
        padding: 0.125rem;
        background-color: white;
        border-radius: 50%;
    }

    span {
        font-family: "Merienda One", cursive;
        position: relative;
        top: 0.25rem;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    background-color: #111;
    color: white;
    height: 8rem;
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;

    a {
        font-size: 2rem;
        color: white;
        width: 3rem;
        margin-top: 0.5rem;
    }
}

.blog-index-page {

    .jumbotron {
        border-radius: 0;

        @media (min-width: 576px) {
            background-image: url("../images/jumbotron_bg.jpg");
            background-position-x: right;
            background-position-y: center;
            background-attachment: fixed;
            background-size: cover;
        }
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 1rem;
        margin-bottom: 2rem;

        @media (max-width: 575.9px) {
            width: 95%;
        }
    }

    .card {
        transition: 300ms;
        box-shadow: 5px 5px 5px 0 #ccc;

        &:hover {
            transform: scale(1.01);
        }

        .card-img-top {
            max-height: 24rem;
            object-fit: cover;
        }
    }
}

.blog-article-page {
    background-color: #222;
    background-image: radial-gradient(#2a9d8f, #264653, #264653, #111);

    .card {
        margin: 6rem auto;

        @media (max-width: 575.9px) {
            border-radius: 0;
            margin: 0rem;
        }

        h2 {
            font-size: 1.75rem;
            margin-top: 2rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            text-align: justify;
        }

        img {
            max-width: 90%;
            
            @media (min-width: 576px) {
                max-width: 60%;
            }            
        }
    }
}
